<a href="https://colab.research.google.com/github/VeruscaSilva-Docs/Analise-de-dados-comPython/blob/main/Licita%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
import pandas as pd

In [13]:
dados = pd.read_csv('/content/drive/MyDrive/programaria/licitacoes (1).csv', encoding='latin1',sep=';')

In [14]:
dados.columns

Index(['Número Licitação', 'Código UG', 'Nome UG', 'Código Modalidade Compra',
       'Modalidade Compra', 'Número Processo', 'Objeto', 'Situação Licitação',
       'Código Órgão Superior', 'Nome Órgão Superior', 'Código Órgão',
       'Nome Órgão', 'UF', 'Município', 'Data Resultado Compra',
       'Data Abertura', 'Valor Licitação'],
      dtype='object')

# ** Identifique qual coluna possui valores faltantes**

In [17]:
dados.groupby('Data Abertura',dropna= False)['Data Abertura'].nunique()

Data Abertura
01/06/2018    1
01/10/2018    1
01/11/2018    1
01/12/2018    1
02/04/2018    1
             ..
31/07/2018    1
31/08/2018    1
31/10/2018    1
31/12/2018    1
NaN           0
Name: Data Abertura, Length: 180, dtype: int64


# **Identifique o tipo de dados desta coluna**

In [18]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15336 entries, 0 to 15335
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Número Licitação          15336 non-null  int64
 1   Código UG                 15336 non-null  int64
 2   Nome UG                   15336 non-null  object
 3   Código Modalidade Compra  15336 non-null  int64
 4   Modalidade Compra         15336 non-null  object
 5   Número Processo           15336 non-null  object
 6   Objeto                    15336 non-null  object
 7   Situação Licitação        15336 non-null  object
 8   Código Órgão Superior     15336 non-null  int64
 9   Nome Órgão Superior       15336 non-null  object
 10  Código Órgão              15336 non-null  int64
 11  Nome Órgão                15336 non-null  object
 12  UF                        15336 non-null  object
 13  Município                 15336 non-null  object
 14  Data Resultado Compra     15336 non-null  object
 15  Data Abertura             4688 non-null   object
 16  Valor Licitação           15336 non-null  object
dtypes: int64(5), object(12)
memory usage: 2.0+ MB

## **Substitua os valores faltantes pelo mesmo formato **

In [19]:
dados['Data Abertura']= dados['Data Abertura'].fillna('0')